body{
    background-color: black;
}
.fondo{
    background-color: black;
}
.fondodos{
    margin: 0%;
    padding: 2% 4%;
}

@media (max-width: 780px){
    .fondodos{
        margin: 0%;
        padding: 0%;
    }
}