.tr1 {
    background-color: #311717;
    border-color: #c50606;
    border-width: 1px 0px;
    border-style: solid;
}

.trhead {
    background-color: #e02626a1;
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(0 0 0 / 28%);
}
@media screen and (max-width: 780px){
    #listaDePeliculasUser{
        margin: 0%;
        padding: 0%;
        font-size: 13px;
    }
    .CompraFecha{
        display: none;
    }
}