body{
    margin: 0%;
    padding: 0%;
    background:url(https://images.alphacoders.com/660/thumb-1920-660254.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.loginsect{
    margin: 8% 12%;
    width: 400px;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(22, 22, 24, 0.801);
    border-radius: 12px;
    color: rgb(223, 230, 227);
}

.loginssect{
    padding: 4%;
    margin: 8% 12%;
    width: 400px;
    height:400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(22, 22, 24, 0.801);
    border-radius: 12px;
    color: rgb(223, 230, 227);
}

.a{
    display: flex;
    justify-content: space-between;
}
#AlertDate{
    display: none;
}
#AlertDates{
    display: none;
}
@media screen and (max-width: 750px){
    body{
        margin: 0%;
        background:url(https://i.pinimg.com/originals/c8/8d/8a/c88d8aa4fab3c9a24ddef58554975087.jpg);
        background-size: cover;
    }
    .loginsect{
        padding: 2%;
        margin: 22% 4%;
        width: 92%;
        height:400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(22, 22, 24, 0.801);
        border-radius: 12px;
        color: rgb(223, 230, 227);
    }
    
    .loginssect{
        padding: 6%;
        margin: 22% 4%;
        width: 92%;
        height:400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(22, 22, 24, 0.801);
        border-radius: 12px;
        color: rgb(223, 230, 227);
    }
}