* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: rgb(0, 0, 0);
}
#titulo{
    font-family: emoji;
}
.navInicio{
    background-image: linear-gradient(270deg, #02375aca 0%, #000000 100%);
}
.titularDeFila{
    font-family: cursive;
    color: white;
    margin: 2% 4%;
    font-size: 30px;
}
.Cards{
    display: flex;
}
.CardsModal{
    background-color: #0c0c0c;
    color: white;
    font-family: cursive;
    font-size: 16px;
}
.cardImg{
    height: 100em;
}
.ConsultasBusqueda{
    display: flex;
    justify-content: space-between;
}
#search{
    margin: 0px 5%;
    display: flex; 
}
.btn-group{
    margin: 0% 2%;
    width: 150px; 
}
.CardsIndividuales{
    margin: 1%;
    width: 238px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s, 0s;
}
.CardsIndividuales:hover{
    transform: scale(1.4);
	transform-origin: center;
}
#subirCard{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
#Terror{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
#Drama{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
#Comedia{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
#subirCardd{
    display: flex; 
    justify-content: center;
}
.prueba{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px){
    .bd-placeholder-img-lg {
      font-size: 3.5rem;

    }
    .navInicio{
        width: 100%;
    }
    #search{
        display: flex; 
        margin: 0px 3%;
    }
    #subirCard{
        margin: 0%;
        display: flex;
        justify-content: center;
    }
    #subirCardd{
        display: flex; 
        flex-direction: column;
    }
    .ConsultasBusqueda{
        margin: 6% 0px;
    }
    .CardsIndividuales{
        margin: 0%;
        width: 125px;
    }
    .modal-dialog{
        padding: 20px;
        margin: 0%;
        width: 100%;
    }
    .Cards{
        display: flex;
        flex-direction: column;
        margin: 2% 17%;
    }
    .titularDeFila{
        font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        color: white;
        margin: 0px 5%;
        font-size: 20px;
    }
}